<h2 style="text-align:center">Login Form</h2>

<form #loginForm="ngForm" (ngSubmit)="login(user)">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" [(ngModel)]="user.userName" class="form-control" placeholder="Enter Username" name="userName" required #userName="ngModel">
    <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
      Username is required
    </div>

    <label for="psw"><b>Password</b></label>
    <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Enter Password" name="password" required #password="ngModel">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      Password is required
    </div>
    <button [disabled]="!loginForm.form.valid" type="submit">Login</button>
    <button type="submit" routerLink='/tokenlogin'>Login to Catalyst App</button>
  </div>

  <div class="container" style="background-color:#f1f1f1;text-align:center">
    <button type="button" class="cancelbtn" routerLink="/signup">Sign Up</button>
  </div>
</form>